# Environment variables
.env

# Python cache
__pycache__/
*.py[cod]

# Virtual environment
venv/

# OS-specific files
.DS_Store

# IDE settings
.vscode/
.idea/

# Local vector store directory
vector_store/
